body {
    font-family: sans-serif;
    text-align: center;
}

th,
td {
    text-align: center;
    padding: 7px 20px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
